*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}

header{
    height: 75vh;
    background-image: linear-gradient(to right, rgba(215, 210, 204, 0.486) 0%, rgba(48, 67, 82, 0.452) 100%), url(/img/halgatewood-com-fCd5nFhOLyg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(75, 75, 75);
}

.logo-menu{
    position: fixed;
    z-index: 10;
    top: 30px;
    right: 30px;
    background: #ffff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100%;
    background: #fff;
    /*background-image: linear-gradient(to right, rgba(215, 210, 204, 0.486) 0%, rgba(48, 67, 82, 0.452) 100%);*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translate(0);
}


.menu-navegacion{
    color: #ffff;
    text-decoration: none;
}

.titulo{
    font-size: 60px;
    margin-bottom: 15px;
}

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: #29323c;
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-blog{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}